@charset "utf-8";

// Set your brand colors
$orange: #f4511e;
$orange-darker: #b91400;
$blue: #1976d2;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$primary: $orange;
$link: $blue;
$info: $orange-darker;
$widescreen-enabled: false;
$fullhd-enabled: false;
$body-background-color: $beige-lighter;

@import "../node_modules/bulma/bulma.sass";
